@import url('https://fonts.googleapis.com/css?family=Maitree');
/* Styles go here */
html, body {
  width: 100%;
  height: 100%;
}

body{
  padding-top: 50px;
  font-family: 'Maitree', serif;
  font-size: 10pt;
}

input {
  font-family: 'Maitree';
}

.content {
  width: 80%;
  height: 100%;
  float: left;
  background: #fff;
  padding: 1em;
  box-sizing: border-box;
}

.sidebar{
  width: 20%;
  height: 100%;
  float: left;
  background: #BDBDBD;

}

.sidebar ul{
    width: 100%;
    overflow: hidden;
}

.sidebar li{
    width: 100%;
    font-size: large;
}

.sidebar li a {
  color: #000;
}


table.stock .name {
  width: 20em;
}
table td, table th {
  padding-left: 1.5em;
}

tr.low-stock td {
  background: #FFD3D3;
}

tr.warning-stock td {
  background: #FFF7B9;
}
